* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background: rgba(219, 219, 211, 1);
  background: linear-gradient(
    0deg,
    rgba(219, 219, 211, 1) 80%,
    rgba(0, 150, 136, 1) 20%
  );
  height: 100vh;
}

.header {
  height: 60px;
}

.note,
.search-contact {
  height: 50px;
}

.note {
  font-size: 14px;
}

.avatar {
  overflow: hidden;
  height: inherit;
  aspect-ratio: 1;
}

.header.header-left div figure,
.header.header-right div figure {
  height: inherit;
}

img {
  display: block;
  width: 50px;
  object-fit: contain;
  object-position: center;
}

.note-bg {
  width: 40px;
  aspect-ratio: 1;
}

#inputGroup-sizing-default {
  background-color: #fff;
}

#inputGroup-sizing-default svg {
  fill: rgb(102, 102, 102);
  width: 20px;
}

.contacts-list {
  height: calc(100vh - 160px);
}

.contact-card {
  cursor: pointer;
}

.chat-window {
  height: calc(100% - (60px + 70px));
  background-image: url("./img/mine.jpg");
}
.message-input {
  height: 70px;
}

.time-badge {
  font-size: 10px;
  font-weight: 100;
  margin-bottom: 5px;
  margin-right: 5px;
}
